.title {
  margin-top: 0;
  margin-bottom: 8px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;

  border-bottom: 2px solid #c5afa4;
  padding-bottom: 10px;
}

.item:not(:last-child) {
  margin-bottom: 4px;
}

.link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #a36d90;

  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  color: #cc7e85;
}

.icon {
  margin-right: 6px;
}
