.descr {
  display: flex;
  margin-bottom: 24px;
  border-bottom: 1px solid #dbc2cf;
  padding-bottom: 16px;
}

.originalTitle {
  margin-top: 0;
  margin-bottom: 24px;

  font-size: 24px;
  font-weight: 500;
}

.text {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.overview {
  margin-top: 0;
  line-height: 1.5;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.item {
  margin: 4px;
  border-radius: 2px;
  padding: 4px 8px;

  background-color: #cdd6dd;
}

@media screen and (max-width: 767px) {
  .descr {
    flex-direction: column;
    align-items: center;
  }

  .poster {
    margin-bottom: 16px;
  }

  .title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .poster {
    align-self: flex-start;
  }

  .container {
    padding: 18px;
  }
}
