.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.item:not(:last-child) {
  margin-right: 32px;
}

.link {
  text-decoration: none;
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
  opacity: 0.6;
}

.link:hover {
  text-decoration: underline;
}

.activeLink {
  composes: link;
  opacity: 1;
}
