body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #212121;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.app {
  display: grid;
  grid-gap: 18px;
  grid-template-columns: 1fr;
  padding-bottom: 24px;
}

.homeViewTitle {
  margin-top: 0;
  margin-bottom: 24px;

  font-size: 24px;
  font-weight: 500;
}

.loader {
  display: flex;
  justify-content: center;
}

.notFoundView {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 0;
  font-weight: 400;
}

.notFoundViewStatus {
  margin-bottom: 16px;
  font-size: 64px;
}

.notFoundViewMessage {
  font-size: 16px;
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .homeViewTitle {
    text-align: center;
  }
}
